<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>Voting</title>
	<!-- Bootstrap Styles-->
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="../static/assets/css/font-awesome.css" rel="stylesheet" />
	
    <link href="../static/assets/css/select2.min.css" rel="stylesheet" >
	<link href="../static/assets/css/checkbox3.min.css" rel="stylesheet" >
        <!-- Custom Styles-->
    <link href="../static/assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><strong>Add Face Template</strong></a>
				<div id="sideNav" href="">
			<i class="fa fa-bars icon"></i> 
			</div>
            </div>

           
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
              <ul class="nav" id="main-menu">

                   <!-- <li>
                        <a class="active-menu" href="vote_count.php"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>-->
					 <li>
                        <a class="active-menu" href="http://localhost/voting_face/add_election.php"><i class="fa fa-table"></i> Election</a>
                    </li>
				</ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
		  <div class="header"> 
                        <h1 class="page-header">
                             Voter Face - Training <small></small>
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  
					</ol> 
									
		</div>
		
		
		
		<div class="row">
                        <div class="col-md-12">  
                            <div class="panel panel-default chartJs">
                                <div class="panel-heading">
                                    <div class="card-title">
                                       
                                    </div>
                                </div>
                                <div class="panel-body">
                                
								<h2 align="center" style="color:#0033CC">Training Completed </h2>
					<h3>Deep Learning Model Classified and stored</h3>
		
 <script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
  window.location.href="http://localhost/voting_face/view_voter.php";
}, 3000);
</script>
 
									
                                </div>
                            </div>
                        </div>
               
		
           
                   
                   
			<footer><p align="center">All right reserved. Voting System <a href="http://webthemez.com"></a></p></footer>
			</div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="../static/assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="../static/assets/js/jquery.metisMenu.js"></script>
	<script src="../static/assets/js/select2.full.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
	  $(".selectbox").select2();
	});
	</script>
      <!-- Custom Js -->
    <script src="../static/assets/js/custom-scripts.js"></script> 
	
		
   
</body>
</html>
