<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>


{% if mcnt1>=2 %}
						<h3 style="color:#006633">{{msg}}</h3>
						<h4>{{det}}</h4>
						
						
						
						
						{% endif %}
						
						{% if st=="1" %}
						<script>
						setTimeout(function () {
						   //Redirect with JavaScript
						   //http://localhost/voting_face/verify_finger.php?vid=
						  window.parent.location.href="http://localhost/voting_face_new/process.php?id={{vid}}";
						}, 2000);
						</script>
						
						{% endif %}
						
						
<script>
						setTimeout(function () {
						   //Redirect with JavaScript
						  window.location.href="/process?vid={{vid}}";
						}, 6000);
						</script>
</body>
</html>
